<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.ulpgc.miguel.smartkey">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppMediator"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".map.MapsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" /> <!-- Map that add doors' locations as markers on
                                                         the map -->

        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity that allows a user to sign in on the app -->

        <activity
            android:name=".register.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- Activity that allows a user to sign up
                                                         on the app -->
        <activity
            android:name=".forgotten.ForgottenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- Activity launched when a user has forgotten
                                                         its email and has to reset the password -->
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- Main activity of the app which shows the
                                                         user's door in a range according to GPS -->
    </application>

</manifest>